@{
    ViewBag.Title = "Crud Operations";
    string sBaseurl = System.Configuration.ConfigurationManager.AppSettings["BaseUrl"];
}
 <script src='@Url.Content(sBaseurl + "/Scripts/jquery.dataTables.min.js")' type="text/javascript"></script>
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        <a id="adddata" href="#">Add data</a>
        <div id="Insertdata" style="display: none;">
               <form id="DataforEmployee" action="post">
            <div> <label>First Name</label>
                <input type="text" placeholder="Enter FirstName" name="FirstName" id="FirstName"/>
            </div>
            <div> <label>Last Name</label>
                <input type="text" placeholder="Enter LastName" name="LastName" id="LastName"/>
            </div>
                   <div> <label>Contact No.</label>
                       <input type="text" placeholder="Enter ContactNo" name="ContactNo" id="ContactNo"/>
                   </div>
                   <div> <label>Address</label>
                       <input type="text" placeholder="Enter Address" name="Address" id="Address"/>
                   </div>
                   <input type="hidden" value="" name="hiddenid">
                   <input type="button" name="Insert" value="Insert" id='Insertrow'/>
         </form>

        </div>
    </p>

    <p>
        <a id="viewdata" href="#">View data</a>
        <div id="Displaydata" style="display: none;">

        </div>
        <div id="sortbyname" style="display: none;">
         <input type="button" id="SortByName" name="SortByName" value="Sort By First Name" onclick="sort('name');"/></div>
    </p>

    
</article>



<script>

    $("#adddata").click(function() {
        // var datatoinsert = $("#Insertdata").val();
       // $("#Insertdata").html("");
        $("#Insertdata").css("display", "block");
        $("#DataforEmployee").trigger("reset");
       // $("#DataforEmployee").reset();
    });

    $("#Insertrow").click(function() {


        $.ajax({
            type: "POST",
            url: '@sBaseurl' + "/Home/Adddata",
            async: false,
            data: $('#DataforEmployee').serialize(),
            success: function(data) {
                if (data == "Success") {
                    alert("Inserted successfully");
                    $("#Insertdata").css("display", "none");
                } else {
                    {
                        alert("error in insertion");
                    }
                }
            }
        });
    });

    function Updatedata() {


        //  $("#Insertdata").css("display", "block");

        $.ajax({
            type: "POST",
            url: '@sBaseurl' + "/Home/Adddata",
            async: false,
            data: $('#UpdateDataforEmployee').serialize(),
            success: function(data) {
                if (data == "Success") {
                    alert("Update successfully");
                    var dataSet = [];
                    $.ajax({
                        url: '@sBaseurl' + "/Home/GetEmployeeData",
            type: 'GET',
            cache: false,
            data: {},
            success: function (data) {

                $('#Displaydata').html(data);


                $("#Displaydata").css("display", "block");
                $("#sortbyname").css("display", "block");

            }
                    });
                    $("#Insertdata").css("display", "none");
                } else {
                    {
                        alert("error in update");
                    }
                }
            }
        });
    }

    $("#viewdata").click(function() {
        // var datatoinsert = $("#Insertdata").val();
        $("#Insertdata").css("display", "none");
        var dataSet = [];
        $.ajax({
            url: '@sBaseurl' + "/Home/GetEmployeeData",
            type: 'GET',
            cache: false,
            data: {},
            success: function(data) {
                
                $('#Displaydata').html(data);

               
                $("#Displaydata").css("display", "block");
                $("#sortbyname").css("display", "block");
            }
        });
    });

    function editrecord(id) {
        $.ajax({
            url: '@sBaseurl' + "/Home/GetEditRecord",
             type: 'GET',
             cache: false,
             data: {Id: id},
             success: function (data) {

                 $('#Insertdata').html("");
                 $('#Insertdata').html(data);


                 $("#Insertdata").css("display", "block");

             }
         });
    }

    function deleterecord(id) {
        $.ajax({
            url: '@sBaseurl' + "/Home/GetDeleteRecord",
            type: 'GET',
            cache: false,
            data: { Id: id },
            success: function (data) {
                if (data == "Success") {
                    alert("Deleted Successfully");
                    var dataSet = [];
                    $.ajax({
                        url: '@sBaseurl' + "/Home/GetEmployeeData",
                        type: 'GET',
                        cache: false,
                        data: {},
                        success: function (data) {

                            $('#Displaydata').html(data);


                            $("#Displaydata").css("display", "block");
                            $("#sortbyname").css("display", "block");
                        }
                    });
                } else {
                    alert("Error in deletion");
                }

            }
        });
    }

    function sort(name) {
        $("#Insertdata").css("display", "none");
        var dataSet = [];
        $.ajax({
            url: '@sBaseurl' + "/Home/GetSortedData",
            type: 'GET',
            cache: false,
            data: {Sortby: name},
            success: function (data) {

                $('#Displaydata').html(data);


                $("#Displaydata").css("display", "block");
                $("#sortbyname").css("display", "block");
            }
        });
    }
</script>